#### **Exercise 1:**

Last week, we started looking at the Titanic data.  Load that data again. For features that you think are of minimal importance and / or have too many NAs to make imputation feasible, drop those features.  For those that seem important, use a `SimpleImputer` to impute the data.

In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer
data = pd.read_csv("data/titanic.csv")


data = data.drop("cabin", axis=1)
imputer = SimpleImputer(strategy='mean')
data[['age']] = imputer.fit_transform(data[['age']])
data = data.dropna()

In [4]:
data.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,S,0

#### **Exercise 2**

Sklearn does not handle strings.  Use an encoder to transform any string columns into numbers. If there are any categorical columns where label encoding won't work, use a one-hot encoder.

In [7]:
from sklearn.preprocessing import OneHotEncoder

dataclean = data[["sex", "age","sibsp", "parch", "embarked", "survived"]]
ohe = OneHotEncoder(drop="first", sparse_output=False)
newdata = ohe.fit_transform(dataclean[["sex", "embarked"]])

array([[0., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       ...,
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 1.]])

#### **Exercise 3**

Using 5-fold cross-validation, examine the performance of a LogisticRegression classifier.

#### **Exercise 4**

Replace the logistic regression classifier with a decision tree classifier.  Which works better?  Why do you think that is?

#### **Exercise 5:** 

See if you can get the decision tree classifier to perform better by adjusting your imputation procedure to use a KNNImputer.

#### **Exercise 6:**

Try using a `GridSearchCV` to optimize the DecisionTree algorithm.  What is the best performance you can achieve?